@using GopetHost.Controllers
@model GopetHost.Models.UserDetailModel

@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="field">
        <label class="label">Tên tài khoản</label>
        <div class="control">
            <input class="input is-success" type="text" value="@Model.User.username" readonly>
        </div>
    </div>
    <div class="field">
        <label class="label">Tình trạng tài khoản</label>
        <div class="control">
            @switch(Model.User.role)
            {
                case 0:
                    {
                        <input class="input is-link" type="text" value="Chưa kích hoạt" readonly>
                        <br />
                        <a asp-action="@nameof(UserController.Active)" asp-controller="User" class="button is-danger is-dark">Kích hoạt ngay</a>
                    }
                    break;
                case 3:
                    {
                        <input class="input is-link" type="text" value="Tài khoản quản trị" readonly>
                    }
                    break;
                default:
                    {
                        <input class="input is-link" type="text" value="Đã kích hoạt" readonly>
                    }
                    break;
            }
        </div>
    </div>
    <div class="field">
        <label class="label">Số tiền hiện có</label>
        <div class="control">
            @if (Model.User.coin != 0)
            {
                <input class="input is-primary" type="text" value="@Model.User.coin.ToString("###,###,###") vnđ" readonly>
            }
            else
            {
                <input class="input is-primary" type="text" value="0 vnđ" readonly>
            }
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input is-info" type="email" value="@Model.User.email" readonly>
        </div>
    </div>
    <div class="field">
        <label class="label">Số điện thoại</label>
        <div class="control">
            <input class="input is-link " type="tel" value="@Model.User.phone" readonly>
        </div>
    </div>
    <div class="field">
        <label class="label">Ngày tạo</label>
        <div class="control">
            <input class="input is-link " type="datetime" value="@Model.User.create_date" readonly>
        </div>
    </div>

    <div class="field">
        <label class="label">Tổng nạp</label>
        <div class="control">
            <input class="input is-danger " type="datetime" value="@Model.User.tongnap.ToString("###,###,###")" readonly>
        </div>
    </div>
</div>

<div class="box">
    <table class="table display nowrap" id="TableSort" style="width: 100%;">
        <thead>
        <th title="Id">Id</th>
        <th title="Value">Giá trị chệnh lệch</th>
        <th title="UserName">Người dùng</th>
        <th title="NameSetDongTien">Ai là người thao tác</th>
        <th title="TimeCreate">Ngày giao động</th>
        <th title="ValueBefore">Giá trị trước cộng tiền</th>
        <th title="ValueAfter">Giá trị sau cộng tiền</th>
        <th title="Content">Nội dung thay đổi</th>
        </thead>
        <tbody>
            @foreach (var item in Model.DongTiens)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Value</td>
                    <td>@item.UserName</td>
                    <td>@item.NameSetDongTien</td>
                    <td>@item.TimeCreate</td>
                    <td>@item.ValueBefore</td>
                    <td>@item.ValueAfter</td>
                    <td>@item.Content</td>
                </tr>
            }
        </tbody>
        <tfoot>
        <th title="Id">Id</th>
        <th title="Value">Giá trị chệnh lệch</th>
        <th title="UserName">Người dùng</th>
        <th title="NameSetDongTien">Ai là người thao tác</th>
        <th title="TimeCreate">Ngày giao động</th>
        <th title="ValueBefore">Giá trị trước cộng tiền</th>
        <th title="ValueAfter">Giá trị sau cộng tiền</th>
        <th title="Content">Nội dung thay đổi</th>
        </tfoot>
    </table>
</div>