@model IndexHomeBagModel

@{
    ViewData["Title"] = "Trang chủ";

    string PageCast(int p)
    {
        if (Model.TagId.HasValue)
        {
            return $"/?Page={Model.CurrentPage - 1}&TagId={Model.TagId.Value}";
        }
        return $"/?Page={Model.CurrentPage - 1}";
    }
}


<section class="container">
    <div>
        <div class="box content">
            @foreach (var item in Model.Posts)
            {
                <a class="post" href="/Home/Post?Id=@item.Id">
                    <h4>@item.Title</h4>
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32 is-rounded">
                                <img src="~/Upload/Images/48_icon.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <a href="#">@item.Username</a> đăng lúc @item.TimeCreate &nbsp;
                                    @foreach (var tag in item.Tags.Select(x => x.Tag))
                                    {
                                        <a href="/?TagId=@tag.Id" class="@tag.CSSClasses">@tag.Tag</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="has-text-grey-light"><i class="fa fa-eye"></i> @item.Views</span>
                        </div>
                    </div>
                </a>
            }
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="@PageCast(Model.CurrentPage - 1)" class="pagination-previous">Lùi</a>
            <a href="@PageCast(Model.CurrentPage + 1)" class="pagination-next">Tiến</a>
            <ul class="pagination-list">
                <li><a href="@PageCast(0)" class="pagination-link" aria-label="">0</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                @if (Model.CurrentPage - 1 > 1)
                {
                    <li><a href="@PageCast(Model.CurrentPage - 1)" class="pagination-link" aria-label="">@(Model.CurrentPage - 1)</a></li>
                }
                <li>
                    <a class="pagination-link is-current"
                       aria-label=""
                       aria-current="page">@Model.CurrentPage</a>
                </li>
                @if (Model.CurrentPage + 1 < Model.MaxPage)
                {
                    <li><a href="@PageCast(Model.CurrentPage + 1)" class="pagination-link" aria-label="">@(Model.CurrentPage + 1)</a></li>
                }

                @if (Model.MaxPage > 1)
                {
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a href="@PageCast(Model.MaxPage)" class="pagination-link" aria-label="">@Model.MaxPage</a></li>
                }
            </ul>
        </nav>

        <div>
            <p class="menu-label">
                Các thẻ
            </p>
            <div class="grid">
                @foreach (var item in Model.Tags)
                {
                    <a href="/?TagId=@item.Id" class="@item.CSSClasses id-medium">@item.Tag</a>
                }
            </div>
        </div>
    </div>
</section>