@model IndexHomeBagModel

@{
    ViewData["Title"] = "Trang chủ";

    string PageCast(int p)
    {
        if (Model.TagId.HasValue)
        {
            return $"/?Page={Model.CurrentPage - 1}&TagId={Model.TagId.Value}";
        }
        return $"/?Page={Model.CurrentPage - 1}";
    }
}


<section class="container">
    <div  >
        <div class="box content">
            <article class="post">
                <h4>Bulma: How do you center a button in a box?</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">jsmith</a> replied 34 minutes ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                    </div>
                </div>
            </article>
            <article class="post">
                <h4>How can I make a bulma button go full width?</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">red</a> replied 40 minutes ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
                    </div>
                </div>
            </article>
            <article class="post">
                <h4>TypeError: Data must be a string or a buffer when trying touse vue-bulma-tabs</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">jsmith</a> replied 53 minutes ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
                    </div>
                </div>
            </article>
            <article class="post">
                <h4>How to vertically center elements in Bulma?</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">brown</a> replied 3 hours ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                    </div>
                </div>
            </article>
            <article class="post">
                <h4>I'm trying to use hamburger menu on bulma css, but it doesn't work. What is wrong?</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">hamburgler</a> replied 5 hours ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                    </div>
                </div>
            </article>
            <article class="post">
                <h4>How to make tiles wrap with Bulma CSS?</h4>
                <div class="media">
                    <div class="media-left">
                        <p class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="#">rapper</a> replied 3 hours ago &nbsp;
                                <span class="tag">Question</span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
                    </div>
                </div>
            </article>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="@PageCast(Model.CurrentPage - 1)" class="pagination-previous">Lùi</a>
            <a href="@PageCast(Model.CurrentPage + 1)" class="pagination-next">Tiến</a>
            <ul class="pagination-list">
                <li><a href="@PageCast(0)" class="pagination-link" aria-label="">0</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                @if (Model.CurrentPage - 1 > 1)
                {
                    <li><a href="@PageCast(Model.CurrentPage - 1)" class="pagination-link" aria-label="">@(Model.CurrentPage - 1)</a></li>
                }
                <li>
                    <a class="pagination-link is-current"
                       aria-label=""
                       aria-current="page">@Model.CurrentPage</a>
                </li>
                @if (Model.CurrentPage + 1 < Model.MaxPage)
                {
                    <li><a href="@PageCast(Model.CurrentPage + 1)" class="pagination-link" aria-label="">@(Model.CurrentPage + 1)</a></li>
                }
                
                @if (Model.MaxPage > 1)
                {
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a href="@PageCast(Model.MaxPage)" class="pagination-link" aria-label="">@Model.MaxPage</a></li>
                }
            </ul>
        </nav>

        <div>
            <p class="menu-label">
                Các thẻ
            </p>
            <div class="grid">
                @foreach (var item in Model.Tags)
                {
                    <a href="/?TagId=@item.Id" class="@item.CSSClasses">@item.Tag</a>
                }
            </div>
        </div>
    </div>

</section>