@using GopetHost.Controllers
@using GopetHost.Ulti
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GopetHost</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GopetHost.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <a class="navbar-brand" href="/">
                <img class="navbar-item" src="~/Upload/Images/taeLogo.png" />
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </a>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    @Html.ActionLink("Trang chủ", nameof(GopetHost.Controllers.HomeController.Index), "Home", new { area = "" }, new { @class = "navbar-item" })
                    <div class="navbar-item">
                        <div class="buttons">
                            @Html.ActionLink("Tải game", nameof(GopetHost.Controllers.HomeController.Download), "Home", new { area = "" }, new { @class = "button is-link" })
                        </div>
                    </div>
                    @if (Context.IsLoginOK())
                    {
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Nạp tiền
                            </a>
                            <div class="navbar-dropdown">
                                <a asp-controller="User" asp-action="@nameof(UserController.NapTheCao)" class="navbar-item">
                                    Nạp thẻ cào
                                </a>
                                <a asp-controller="User" asp-action="@nameof(UserController.NapBank)" class="navbar-item">
                                    Nạp tự động
                                </a>
                            </div>
                        </div>
                    }
                </div>
                @if (!Context.IsLoginOK())
                {
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary js-modal-trigger" data-target="singupModal">
                                    <strong>Đăng ký</strong>
                                </a>
                                <a class="button is-light js-modal-trigger" data-target="loginModal">
                                    Đăng nhập
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                @if (this.Context.GetUserRole() == 3)
                                {
                                    <a asp-controller="Admin" asp-action="@nameof(AdminController.Index)" class="button is-success is-light">
                                        Quản trị
                                    </a>
                                }
                                <a asp-controller="User" asp-action="@nameof(UserController.UserDetails)" class="button is-danger is-light">
                                    Tài khoản
                                </a>
                                <a asp-controller="User" asp-action="@nameof(UserController.LogOut)" class="button is-primary is-light">
                                    Đăng xuất
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </nav>
        <div class="modal" id="loginModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Đăng nhập vào gopettae</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form class="box" asp-action="@nameof(GopetHost.Controllers.UserController.Login)" asp-controller="User">
                        <div class="field">
                            <label class="label">Tài khoản</label>
                            <div class="control ">
                                <input name="username" class="input is-success" type="text" placeholder="Tên tài khoản" value="">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Mật khẩu</label>
                            <div class="control ">
                                <input name="password" class="input is-warning" type="password" placeholder="Mật khẩu" value="">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-white">Đăng nhập</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Huỷ</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="modal" id="singupModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Đăng ký tài khoản gopet</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form class="box" asp-action="@nameof(GopetHost.Controllers.UserController.Create)" asp-controller="User">
                        <div class="field">
                            <label class="label">Tài khoản</label>
                            <div class="control ">
                                <input name="username" class="input is-success" type="text" placeholder="Tên tài khoản" value="">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Mật khẩu</label>
                            <div class="control ">
                                <input name="password" class="input is-warning" type="password" placeholder="Mật khẩu" value="">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Xác nhận mật khẩu</label>
                            <div class="control ">
                                <input name="repassword" class="input is-warning" type="password" placeholder="Nhập lại mật khẩu" value="">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control ">
                                <input name="email" class="input is-danger" type="email" placeholder="Thư điện tử" value="hello@gmail.com">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Số điện thoại</label>
                            <div class="control ">
                                <input name="phone" class="input is-focused" type="tel" placeholder="Số điện thoại" value="">
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Đăng ký</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Huỷ</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="message" id="message-box" style="margin: 24px;">
            @if (TempData[TempDataUtil.MESSAGE_TEMP] != null)
            {
                <article class="message @TempData[TempDataUtil.MESSAGE_TEMP_CLASS_ATT]">
                    <div class="message-header">
                        <p>@TempData[TempDataUtil.MESSAGE_TEMP_TITLE]</p>
                        <button class="delete" aria-label="close" data-target="message-box" onclick="closeMessage();"></button>
                    </div>
                    <div class="message-body">
                        @TempData[TempDataUtil.MESSAGE_TEMP]
                    </div>
                </article>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr />
        <div class="container">
            &copy; 2024 - GopetTae - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script>
        function closeMessage() {
            messageBox = document.getElementById("message-box");
            messageBox.remove();
        }
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);

                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                if (event.key === "Escape") {
                    closeAllModals();
                }
            });
        });

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
